<% action = warehouse.persisted? ? admin_warehouse_path(warehouse) : admin_warehouses_path %>
<% method = warehouse.persisted? ? "patch" : "post" %>

<form method="post" action="<%= action %>" class="row align-end">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <% if method != "post" %>
    <input type="hidden" name="_method" value="<%= method %>">
  <% end %>

  <label>
    Code<br>
    <input name="warehouse[code]" value="<%= warehouse.code.to_s %>" required>
  </label>

  <label>
    Name<br>
    <input name="warehouse[name]" value="<%= warehouse.name.to_s %>" required>
  </label>

  <label>
    Location<br>
    <input name="warehouse[location]" value="<%= warehouse.location.to_s %>" list="warehouse_locations" required placeholder="e.g. Bengaluru">
    <datalist id="warehouse_locations">
      <% warehouse_locations.each do |loc| %>
        <option value="<%= loc %>"></option>
      <% end %>
    </datalist>
  </label>

  <button type="submit"><%= warehouse.persisted? ? "Update" : "Create" %></button>
  <a class="muted" href="<%= admin_warehouses_path %>">Cancel</a>
</form>


